@use '../../../styles/constants' as c;
@use '../../../styles/mixins' as m;

.musicPlayerWrap {
  @include m.flex(center, center, row);
  column-gap: 40px;
  width: 100vw;
  height: 80px;
  position: absolute;
  bottom: 0;
  border: 10px solid black;
}

.controlsWrap {
  @include m.flex(center, center, column);
  position: fixed;
  bottom: 0;
  width: 83%;
  height: 100px;
  background-color: #fff;
}

/* The time controls section */

.timecontrols {
  @include m.flex(center, center, row);
  column-gap: 5px;
  > p {
    color: c.$C_GRAY;
  }
}

.timeBarContainer {
  position: absolute;
  left: 0;
  top: 0;
  background-color: gray;
  width: 100vw;
  height: 3px;
}

.timeBar {
  background-color: c.$C_BUTTON;
  height: 100%;
}

.controlsTime {
  color: black;
  font-size: 12px;
}

.controls {
  @include m.flex(center, center, row);
}
.controlsImgWrap {
  @include m.flex(center, center, row);
  width: 600px;
  > .controlsVolume {
    width: 200px;
    border: 1px solid black;
  }
  > .controlsItem {
    width: 100px;
  }
  > .controlsTitle {
    width: 400px;
    text-overflow: ellipsis;
    > p {
      text-overflow: ellipsis;
    }
  }
  > div {
    font-size: 13px;
    width: 100px;
  }
}
.controlsImg {
  @include m.flex(center, center);
  width: 60px;
  height: 50px;
}
