@use '../../../styles/constants' as c;
@use '../../../styles/mixins' as m;

.homeWallpaperWrapper {
  @include m.flex(center, center);
  margin: auto;
  width: 40%;
  height: 380px;
  border-radius: 25px;
  transition: 0.2s;
  position: relative;

  .content {
    @include m.flex(center, center);
    width: min(100% - 15px, 1100px);
    margin-inline: auto;
    height: 380px;
    border-radius: 25px;
    box-shadow: 8px 4px 12px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover .overlay {
      background-color: c.$C_BLACK_10;
      visibility: visible;
    }

    > img {
      width: min(100% - 15px, 1080px);
      margin-inline: auto;
      height: 360px;
      position: absolute;
      object-fit: cover;
      border-radius: 25px;
    }
    > p {
      z-index: 5;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      width: 100%;
      height: 100%;
      text-align: right;
      line-height: 30px;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 500;
      padding: 2rem;
    }
  }
}
.overlay {
  z-index: 10x;
  position: absolute;
  border-radius: 25px;
  width: min(100% - 15px, 1100px);
  margin-inline: auto;
  height: 380px;
  visibility: hidden;
  transition: 0.2s background-color ease-in-out, 0.2s visibility ease-in-out;
}
