@use '../../../styles/constants/' as c;
@use '../../../styles/mixins' as m;
.container {
  @include m.flex(center, center, column);
  width: 220px;
  height: 220px;
  background-color: c.$C_WHITE_10;
}
.card {
  width: 220px;
  height: 180px;
  background-color: #111827;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: c.$S_RADIUS;
}
.wrap {
  width: 220px;
  height: 180px;
  position: relative;
  color: white;
  background-color: c.$C_WHITE_10;
  border-radius: c.$S_RADIUS;
  overflow: hidden;
  transition: 0.2s transform ease-in;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: scale(1.02) translateY(-10px);

    > .overlay {
      background-color: c.$C_BLACK_10;
      visibility: visible;
      .overlay {
        /* 기존 스타일 유지 */
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  > img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    transform-origin: center;
    transform: scale(1.4);
    top: 0;
    left: 0;
  }

  > .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: 0.2s background-color ease-in-out, 0.2s visibility ease-in-out;
  }
}

.overlay {
  @include m.flex(center, center, column);

  > .score {
    @include m.flex(flex-start);
    padding: 8px;
    font-size: 22px;
    color: white;
    font-weight: 600;

    svg {
      fill: c.$C_PRIMARY_COLOR;
      width: 24px;
      margin-right: 2px;
      color: #fff;
    }
  }
  > .title {
    @include m.flex();
    font-size: 22px;
    padding: 0px 8px;
  }
}
