@use '../../styles/constants' as c;
@use '../../styles/mixins' as m;

.music {
  display: flex;
  flex-direction: column;
  width: 110vw;
  height: 100vh;
  overflow: hidden;
}

/* Video */

.video {
  width: 100vw;
  height: 100vh;
}

/* Controls */
.youtubeList {
  @include m.flex(center, center, row);
  width: 900px;
  height: 300px;
  flex-wrap: nowrap;
}
.thumbnailImage {
  @include m.flex(center, center, row);
  width: 90px;
  height: 90px;
  flex-wrap: nowrap;
}
