@use '../../styles/constants' as c;
@use '../../styles/mixins' as m;

/* Controls */
.youtubeWrap {
  @include m.flex(center, center, column);
  width: 100%;
  height: 83vh;
  flex-wrap: nowrap;
  overflow-y: scroll;
}
.youtubeContent {
  height: 1000px;
}
.youtubeList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 5px;
  overflow-y: scroll;
  padding: 40px;
  height: 1000px;
  max-height: calc(100vh - 170px);
}
.thumbnailImage {
  @include m.flex(center, center, row);
  width: 280px;
  height: 180px;
  flex-wrap: nowrap;
  object-fit: cover;
  cursor: pointer;
}
.controlsTitle {
  @include m.flex(space-between);
}

.controlsTitleItem {
  @include m.flex(center, center, row);
  line-height: 30px;
  height: 30px;
  width: 250px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
