@use '../../styles/constants' as c;
@use '../../styles/mixins' as m;

.youtubeWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 5px;
  overflow-y: scroll;
}

.youtubeListWrap {
}

.youtubeImg {
}

.youtubeText {
}
