@use '../../styles/constants' as c;
@use '../../styles/mixins' as m;

.HomeMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: c.$S_LAYOUT_PADDING;
  row-gap: 30px;
  overflow-y: scroll;
  .divider {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 0.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 160px;
  }
  .text {
    width: 1200px;

    > p:first-child {
      font-size: 2rem;
      font-weight: 300;
      text-align: left;
      margin-left: 160px;
      margin-top: 20px;
      color: #302f2f;
    }
    > p {
      color: #302f2f;
      font-size: 1rem;
      font-weight: 300;
      text-align: left;
      margin-left: 160px;
      line-height: 35px;
    }
  }
}
.error {
  @include m.flex(center, center);
  justify-content: center;
  align-items: center;
}
