@use '../../styles/constants' as c;
@use '../../styles/mixins' as m;

.HomeMain {
  @include m.flex(center, center, column);
  width: 100vw;
  height: 100vh;
  padding: c.$S_LAYOUT_PADDING;
  row-gap: 10px;
  overflow-y: scroll;
}
.error {
  @include m.flex(center, center);
  justify-content: center;
  align-items: center;
}
