@use '../../styles/constants' as c;
@use '../../styles/mixins' as m;

.youtubeWrap {
  @include m.flex(center, center);
  height: 100vh;
  flex-wrap: nowrap;
}
.youtubeList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 5px;
  overflow-y: scroll;
  padding: 40px;
}
.youtubeContent {
  width: 100%;
  height: 100%;
}

.youtubeListWrap {
}

.youtubeImg {
}

.youtubeText {
}
.error {
  @include m.flex(center, center);
  justify-content: center;
  align-items: center;
}
